.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 2px 0 #D9D9D9;
}

.navbar-content {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #FEC2B2;
  text-decoration: none; 
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.login-button { 
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #022E40;
  color: #FEC2B2;
  font-weight: 600;
  transition: all 0.2s ease;
  text-decoration: none; 
  border: none; 
}

.login-button:hover {
  background: #FEC2B2;
  color: #022E40;
  transform: translateY(-2px);
  /* box-shadow: 0 6px 20px rgba(2, 132, 199, 0.3); */
}

.register-button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 3px solid #FEC2B2;
  color: #022E40;
  font-weight: 600;
  transition: all 0.2s ease;
  text-decoration: none; 
}

.register-button:hover {
    /* background: #FEC2B2; */
    color: #022E40;
    transform: translateY(-2px);
    /* box-shadow: 0 6px 20px rgba(2, 132, 199, 0.3); */
}

.user-button { 
  display: flex; 
  align-items: center;
  padding: 2px; 
  border-radius: 50%; 
  transition: background-color 0.2s ease;
}
.user-button:hover {
  background-color: rgba(0,0,0,0.05); 
}

.user-icon { 
  width: 30px; 
  height: 30px; 
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 50%; 
  object-fit: cover; 
  display: block; 
}


.navbar-logout-link { 
  display: flex; 
  align-items: center;
  padding: 5px; 
  border-radius: 4px; 
  transition: background-color 0.2s ease;
}
.navbar-logout-link:hover {
  background-color: rgba(0,0,0,0.05);
}

.logout-icon { 
  width: 26px;  
  height: 26px; 
  display: block; 
  transition: transform 0.3s ease;
}
.navbar-logout-link:hover .logout-icon { 
    transform: scale(1.1);
}